/* Animaciones con @keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); /* Efecto de desplazamiento desde arriba */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px); /* Efecto de desplazamiento hacia arriba */
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@keyframes puff-in-bottom {
    0% {
      transform: scale(2);
      transform-origin: 50% 100%;
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 100%;
      filter: blur(0px);
      opacity: 1;
    }
  }