/* STYLE NAV BAR */
.grandes-ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
    background-color: #222;
    align-items: center;
    font-weight: 100;
}
.grandes-ofertas h6 {
    font-size: 10px;
    font-weight: 400;
    line-height: 11.72px;
    text-align: left;
}

#idioma,
#moneda {
    color: #F3F3F3;
    background-color: #222;
    font-size: 10px;
    border: none;
}
.patita {
    color: black;
    font-size: 30px;
    margin-right: 10px;
}
.logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F0A83E;
    height: 62px;
}

.perro-gato {
    height: 20px;
}
.lista-navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 600px;
   
}
.lista-navbar li {
    list-style: none;
  
}.lista-navbar a {
    text-decoration: none;
    color: #F3F3F3;
    font-size: 13px;
   
}

.fa-solid {
    cursor: pointer;
 display:none !important;
    font-size: 25px;
}



@media (max-width: 600px) {
    .lista-navbar {
        opacity: 1;
        visibility: visible;
    }

    .fa-solid {
       display: block !important;
    }

    .lista-navbar-celu {
       border-radius: 1rem 0;
        display: none;
        flex-direction: column;
        background-color: #F0A83E;
        width: 130px;
        position: absolute;
        top: 70px;
        right: 90px;
        z-index: 999;
        transition: background-color 0.3s ease-in-out;
        font-size: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .lista-navbar li {
        padding: 10px;
        width: 100%;
    }

    .lista-navbar a {
        margin: 2px;
    }

    .lista-navbar-celu.show {
        display: flex;
        animation: fadeIn 0.5s forwards;
    }

    .lista-navbar-celu.hide {
        animation: fadeOut 0.5s forwards;
    }
}